.c-mini-post {
  @include flex-align-content(row-reverse, flex-start, space-between);
  @include size($width: 72vw);
  @include transition(all 100ms ease-out);

  padding: 12px 16px;

  &__content {
    @include size($width: calc(100% - 72px));

    span {
      overflow: hidden;
      text-transform: capitalize;
      text-align: left;
      text-overflow: ellipsis;
    }

    .subtitle {
      @include ellipsis(2);

      color: $color-bg;
      font-size: 0.875rem;
      margin-top: 3px;
      line-height: 1rem;
    }
  }

  &__image {
    @include size($width: 56px, $height: 56px);

    img {
      object-fit: cover;
      border-radius: $global-radius;
    }
  }

  &:hover {
    background-color: $color-text;
  }

  @include bp(sm) {
    @include flex-direction(row);
    @include size(100%);
  }
}
