.post-content {
  @include size($width: 100%, $height: 100%);
  text-align: left;
  transition: all 0.15s ease-out;

  .post-header {
    font-weight: 600;
  }

  .post-image {
    @include size($width: 100%);
    background-color: $color-white;
    object-fit: cover;
  }

  .post-body {
    overflow: auto;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
