.c-post-preview {
  @include absolute($left: 0, $bottom: 0);
  @include flex-box;
  @include size($width: 100vw);

  z-index: zIndex("post-preview");
  background-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(10px);

  &__count {
    display: none;
  }

  &__list {
    @include flex-box;
    overflow: auto;

    &__container {
      @include flex-box;
      @include flex-direction(row);
      @include size($max-width: 320px);

      .divider {
        margin: 16px 0;
        border-left: 2px solid $color-border;
      }
    }
  }

  @include bp(sm) {
    @include absolute($right: 12px, $bottom: 72px, $left: unset);
    @include flex-direction(column);
    @include size($width: 320px, $max-height: calc(100% - 96px));

    padding-bottom: 16px;
    border-radius: $global-radius;

    &__list {
      @include flex-direction(column);

      &__container {
        @include flex-direction(column);

        .divider {
          margin: 0 16px;
          border-left: unset;
          border-top: 1px solid $color-border;
        }
      }
    }

    &__count {
      display: inline-block;
      color: $color-bg;
      font-weight: 600;
      padding: 12px 16px;
      font-size: 0.875rem;
    }

    /* Works on Chrome/Edge/Safari */
    *::-webkit-scrollbar {
      width: 10px;
    }
    *::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
    }
    *::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 20px;
      background-clip: content-box;
    }

    // /* Handle on hover */
    *::-webkit-scrollbar-thumb:hover {
      background: #a7a7a7;
    }
  }
}
