.c-top-bar {
  @include flex-box;
  @include align-items(center);
  @include size($height: $global-topbar-height);

  background-color: $color-text;
  color: $color-bg;
  letter-spacing: 0.4px;
  padding-left: 12px;

  &__avatar {
    @include size($width: 50px, $height: 50px);

    border-radius: 50%;
  }

  @include bp(sm) {
    padding-left: 24px;
  }
}
