.map-control {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: zIndex('map-view') + 1;
  @include absolute($left: 12px, $bottom: 48px);

  svg {
    @include size($height: 14px);
  }

  .button {
    @include size($width: 30px, $height: 30px);
    color: #666666;
    background-color: $white;
    transition: all 0.15s ease-out;

    &:hover {
      svg {
        color: $black;
      }
    }
  }

  .fit-bounds {
    border-radius: 6px;
  }

  .group-button {
    margin-top: 6px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include tablet {
    flex-direction: row;
    @include absolute($right: 12px, $bottom: 26px, $left: unset);

    .group-button {
      flex-direction: row;
      margin-top: 0;
      margin-left: 12px;
    }
  }
}
