/*==================MEDIA QUERY==================*/

$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}

/*==================POSITION==================*/

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

/*==================SIZE==================*/

@mixin size($width: null, $height: null, $maxWidth: null, $maxHeight: null) {
  width: $width;
  height: $height;
  max-width: $maxWidth;
  max-height: $maxHeight;
}

/*==================VENDOR PREFIX==================*/

$known-prefixes: webkit, moz, ms, o;

@mixin prefix($property, $value, $prefixes) {
  #{$property}: $value;
  @each $prefix in $prefixes {
    @if not index($known-prefixes, $prefix) {
      @warn "Unknown prefix #{$prefix}.";
    }

    -#{$prefix}-#{$property}: $value;
  }
}

/*==================TRANSFORM==================*/

@mixin transform($args...) {
  @include prefix(transform, $args...);
}

@mixin rotate($degree) {
  @include transform(rotate($degree), webkit moz ms o);
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y), webkit moz ms o);
}

@mixin translateY($value) {
  @include transform(translateY($value), webkit moz ms o);
}

/*==================TEXT==================*/

@mixin ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
