///* ========================================================================
//   #MARGIN
//   ======================================================================== */
// Quick margin css classes

$margin: 0 6 12 18 24 30 210;

@each $i in $margin {
  .m-#{$i} {
    margin: $i + px;
  }

  .m-t-#{$i} {
    margin-top: $i + px;
  }

  .m-b-#{$i} {
    margin-bottom: $i + px;
  }

  .m-l-#{$i} {
    margin-left: $i + px;
  }

  .m-r-#{$i} {
    margin-right: $i + px;
  }

  .m-t-b-#{$i} {
    margin: $i auto;
  }
}
