///* ========================================================================
//   #TEXT ELLIPSIS
//   ======================================================================== */
// Mixin to quickly apply text-ellipsis property to elements.

@mixin ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
