$desktop-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin size($width: null, $height: null, $maxWidth: null, $maxHeight: null) {
  width: $width;
  height: $height;
  max-width: $maxWidth;
  max-height: $maxHeight;
}

$known-prefixes: webkit, moz, ms, o;

@mixin prefix($property, $value, $prefixes) {
  #{$property}: $value;
  @each $prefix in $prefixes {
    @if not index($known-prefixes, $prefix) {
      @warn "Unknown prefix #{$prefix}.";
    }

    -#{$prefix}-#{$property}: $value;
  }
}

@mixin transform($args...) {
  @include prefix(transform, $args...);
}

@mixin rotate($degree) {
  @include transform(rotate($degree), webkit moz ms o);
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y), webkit moz ms o);
}

@mixin translateY($value) {
  @include transform(translateY($value), webkit moz ms o);
}
