.gm-style .gm-style-iw-c {
  max-width: 254px !important;
  max-height: 600px !important;
  padding: 0 !important;
  border-radius: 12px;

  .gm-style-iw-d {
    overflow: hidden !important;
  }

  button[title='Close'] {
    display: none !important;
  }
}
