@include desktop {
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    background-clip: content-box;
  }

  // /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
  }
}
